div.container {
display: flex;
background-color: rgb(150, 10, 10);
height: auto;
width: 98.81vw;
margin: 0;
position: relative;
top: 9.4vw;
left: -0.6vw;
}

header {
display: flex;
justify-content: center;
align-items: center;
background-color: navy;
height: 10vw;
width: 98.82vw;
position:absolute; 
top: 0; 
left: 0;
right:0;
}

body {
background-color: yellow;
overflow: auto;
}

nav {
position: sticky;
top: 0;
background-color: powderblue;
overflow: auto;
height: 500px;
width: 25vw;
border-bottom: 2px solid black;
}

ul {
width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
   padding: 8px 16px;
  border: 1px solid black;
}

li:hover {
  background-color: DimGrey;
  color: Azure;
}


section {
display: flex; 
flex-direction: column;
align-items: center; 
padding: 15px;
background-color: BurlyWood;
width: 85vw;
}

h2 {
text-align: center;
font-size: 30px;
}

h3 {
font-size: 25px;
}

figcaption {
margin: 6px; 
}

h3, figcaption {
text-align: center;
}

img, button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
width: 1000px;
height: 800px; 
}

img {
border-radius: 8px;
opacity: 0.8;
}

a {
text-decoration: none;
color: black;